<div class="p-4 w-full bg-white shadow-md rounded-lg overflow-hidden">
  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
    <video
      autoplay
      controls
      playsinline
      webkit-playsinline="true"
      class="w-full h-full rounded-md"
    >
      <source [src]="liveBroadcast" />
    </video>
    <!-- type="application/x-mpegURL" -->
    <video controls class="w-full h-full rounded-md">
      <source [src]="" />
    </video>
    <video controls class="w-full h-full rounded-md">
      <source [src]="" />
    </video>
    <video
      autoplay
      controls
      playsinline
      webkit-playsinline="true"
      class="w-full h-full rounded-md"
    >
      <source [src]="liveBroadcast" />
    </video>
    <video controls class="w-full h-full rounded-md" alt="Add Camera">
      <source [src]="" />
    </video>
  </div>
</div>
