<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="bg-gray-100">
        <mat-icon matListItemIcon class="mr-3 text-gray-800">
          dashboard
        </mat-icon>
        <span matListItemLine class="font-medium text-base text-gray-800">
          Dashboard
        </span>
      </a>
      <a mat-list-item href="/livewatch">
        <mat-icon matListItemIcon class="mr-3 text-gray-800"> </mat-icon>
        <span matListItemLine class="font-medium text-base text-gray-800">
          liveWatch
        </span>
      </a>
      <a mat-list-item href="/alarms">
        <mat-icon matListItemIcon class="mr-3 text-gray-800"> </mat-icon>
        <span matListItemLine class="font-medium text-base text-gray-800">
          Alarms
        </span>
      </a>
      <a mat-list-item href="/incidents"
        ><mat-icon matListItemIcon class="mr-3 text-gray-800"> </mat-icon>
        <span matListItemLine class="font-medium text-base text-gray-800">
          Create incident
        </span></a
      >
      <a mat-list-item href="/reports"
        ><mat-icon matListItemIcon class="mr-3 text-gray-800"> </mat-icon>
        <span matListItemLine class="font-medium text-base text-gray-800">
          Reports
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="flex items-end">
        <div class="pt-2">
          {{ this.username }}
        </div>
      </div>
    </mat-toolbar>
    <section class="container">
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
