// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mat-primary: (
  main: #000000,
  lighter: #b3b3b3,
  darker: #000000,
  200: #000000,
  // For slide toggle,
  contrast:
    (
      main: #000000,
      lighter: #000000,
      darker: #000000,
    ),
);
$tvws-primary: mat.define-palette($mat-primary, main, lighter, darker);

$mat-accent: (
  main: #797979,
  lighter: #d7d7d7,
  darker: #5c5c5c,
  200: #797979,
  // For slide toggle,
  contrast:
    (
      main: #797979,
      lighter: #797979,
      darker: #797979,
    ),
);
$tvws-accent: mat.define-palette($mat-accent, main, lighter, darker);

// The warn palette is optional (defaults to red).
$tvws-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$tvws-theme: mat.define-light-theme(
  (
    color: (
      primary: $tvws-primary,
      accent: $tvws-accent,
      warn: $tvws-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($tvws-theme);

/* You can add global styles to this file, and also import other style files */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "ngx-toastr/toastr";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mdc-button .mdc-button__label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
