<div class="m-0">
  <h1 class="mat-h1 text-2xl font-bold">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="200px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card
        class="absolute top-4 left-4 right-4 bottom-4 flex flex-col justify-center items-center gap-2 text-center pb-0"
      >
        <mat-card-header>
          <mat-card-title class="text-2xl font-bold">
            New Suspicious Events
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="">
          <h3 class="mb-0 font-semibold text-4xl">0</h3>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card
        class="absolute top-4 left-4 right-4 bottom-4 flex flex-col justify-center items-center gap-2 text-center pb-0"
      >
        <mat-card-header>
          <mat-card-title class="text-2xl font-bold">
            Resolved Crimes
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="">
          <h3 class="mb-0 font-semibold text-4xl">0</h3>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
